# Results of Testing

The test results show the actual outcome of the testing, following the [Test Plan](test-plan.md)

---

## Game is playable

played through the game to make sure that the game is playable.

### Test Data Used

I used the move function and remove function until the black coin was removed and the game was won by one of the two players.

### Test Result

![example.png](screenshots/gameplayable-test.gif)

Valid The test was successful and the game worked.

---

## The player can read the instructions for the game.

The player can ask for the game instructions so that they can understand how to play the game.

### Test Data Used

I will try to enter y in order to agree to receiving the instructions.

### Test Result

![example.png](screenshots/instructions-test.gif)

Valid. The test was successful and I was able to receive and read the instructions.

---

## Player can input names.

I will test that the player is capible of entering their name into the program.

### Test Data To Use

I will try entering two seperate names into the program "Ben" and "Ryder".

### Test Result

![example.png](screenshots/nameinput-test.gif)

Valid. I was able to input both names into the program.

---

## Example Test Name

Example test description. Example test description. Example test description. Example test description. Example test description. Example test description.

### Test Data To Use

Details of test data and reasons for selection. Details of test data and reasons for selection. Details of test data and reasons for selection.

### Expected Test Result

Statement detailing what should happen. Statement detailing what should happen. Statement detailing what should happen. Statement detailing what should happen.

---

